/* ====================================
// css variables
// ==================================== */

:root {
  --dark-blue: #264653;
  --green: #2a9d8f;
  --white: #ffefef;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

.section {
  background: var(--green);
  color: var(--white);
  padding: 5px;
  margin: 15px;
}

.section-1,
.section-2,
.section-4,
.section-5 {
  display: flex;
}

.section-3 .box {
  margin-bottom: 8px;
}

.section-3 .box:last-child {
  margin-bottom: 3px;
}

.box {
  background: var(--dark-blue);
  padding: 10px;
  font-weight: 700;
  margin: 3px;
}

.section-2 {
  justify-content: flex-end;
}

.section-4 {
  justify-content: space-between;
}

.section-5 {
  flex-direction: column;
  align-items: center;
}